body {
    background-color: gray;
}

@font-face {
    font-family: 'MrsEavesItalic';
    src: url('\fonts\MrsEavesItalic.eot');
    src: local(':relaxed:'), url('fonts/MrsEavesItalic.woff') format('woff'), url('fonts/MrsEavesItalic.ttf') format('truetype'), url('fonts/MrsEavesItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-SemiBold';
    src: url('\fonts\SegoeUI-SemiBold.eot');
    src: local(':relaxed:'), url('fonts/SegoeUI-SemiBold.woff') format('woff'), url('fonts/SegoeUI-SemiBold.ttf') format('truetype'), url('fonts/SegoeUI-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversCE-Light';
    src: url('\fonts\UniversCE-Light.eot');
    src: local(':relaxed:'), url('fonts/UniversCE-Light.woff') format('woff'), url('fonts/UniversCE-Light.ttf') format('truetype'), url('fonts/UniversCE-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.left {
    float: left;
}

.padding {
    padding-bottom: 10px;
}

.marginleft {
    margin-left: 18px;
}

.paddingleft {
    padding-left: 100px;
}

/*#mainDiv {
    margin: 0px auto;
    width: 1279px;
    background-color: white;
}*/

#page {
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    width: 1280px;
    margin: 0 auto;
    background-color: white;
}

#primarynavigation {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}

#headerleo {
    width: 328px;
    font-size: 80px;
    font-style: italic;
    font-family: 'MrsEavesItalic';
    color: lightgray;
    padding: 45px 0px 0px 120px;
    /*padding-top: 45px;
    padding-left: 120px;*/
}

#headermenu {
    font-size: 22px;
    /*position: relative;*/
    padding-left: 30px;
    /*text-decoration: none;
    list-style-type: none;*/
    font-family: 'Segoe UI';
    /*font-weight: inherit;
    color: lightgray;*/
    overflow: hidden;
}

ul#headermenu li {
    float: left;
    padding: 50px 0px 0px 35px;
    /*padding-right: 35px;
            padding-top: 25px;*/
}

    ul#headermenu li a {
        text-decoration: none;
        color: lightgray;
    }

#introducing {
    overflow: hidden;
}

    #introducing > ul {
        /*list-style-type: none;
        border-bottom: 1px solid;
        border-color: lightgray;
        padding: 30px 0px 50px 0px;
        padding-bottom: 50px;
        padding-top: 30px;*/
        overflow: hidden;
    }


        #introducing > ul#chooseus {
            border-bottom: 1px solid;
            border-color: lightgrey;
        }

    #introducing #introducingleftarrow {
        padding: 115px 170px 0px 40px;
        /*padding-top: 100px;
        padding-right: 170px;
        padding-left: 10px;*/
    }

#introducingleftarrow > a {
    background-image: url('../images/banner-arrow-left.png');
    background-repeat: no-repeat;
    padding: 30px;
    cursor: pointer;
}

#coffee {
    width: 350px;
    font-size: 70px;
    padding-top: 330px;
    background-image: url('../images/banner-icon.png');
    background-repeat: no-repeat;
    margin: 15px 0px 0px 0px;
}

#introducingtitles {
    margin: 0px 0px 0px 70px;
}

    #introducingtitles h2 {
        color: white;
        font-size: 60px;
        /*line-height: 0px;*/
        padding: 50px 0px 0px 0px;
        font-family: 'Segoe WP';
        font-weight: inherit;
    }

    #introducingtitles h3 {
        font-size: 36px;
        color: lightgray;
        font-family: 'Segoe WP SemiLight';
        padding: 15px 0px 70px 0px;
        line-height: 0px;
    }

    #introducingtitles a {
        text-decoration: none;
        color: lightgray;
        border: 5px solid #353d39;
        padding: 0px 14px 5px 14px;
        background-color: #175b3b;
        font-size: 20px;
        /*margin: 5px;*/
        font-family: 'Segoe WP SemiLight';
        /*font-weight: inherit;
        cursor: pointer;*/
    }

#introducingrightarrow {
    padding: 115px 0px 0px 180px;
    /*padding-top: 100px;
    padding-left: 180px;*/
}

    #introducingrightarrow > a {
        background-image: url('../images/banner-arrow-right.png');
        background-repeat: no-repeat;
        padding: 30px;
        cursor: pointer;
    }

#mainwebsites {
    overflow: hidden;
    padding-left: 145px;
}

#websites {
    list-style-type: none;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
}

    #websites > li {
        border-bottom: 1px solid;
        border-color: lightgray;
        color: lightgray;
    }


        #websites > li ul li {
            color: darkgrey;
        }

        #websites > li#ecommercewebsites ul li {
            color: gray;
            font-weight: 600;
            font-size: 16px;
        }

.allwebsites {
    padding: 25px 55px 40px 55px;
}

#responsivewebsites > ul {
    /*list-style-type: none;*/
    text-align: center;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
    overflow: hidden;
}

    #responsivewebsites > ul li:first-child {
        /*text-decoration: none;*/
        background-image: url('../images/responsivewebsites.png');
        background-repeat: no-repeat;
        width: 138px;
        padding-top: 171px;
        cursor: pointer;
    }

#ecommercewebsites ul li:first-child {
    /*text-decoration: none;*/
    background-image: url('../images/ecommercewebsites.png');
    background-repeat: no-repeat;
    width: 138px;
    padding-top: 171px;
    cursor: pointer;
}

#websites > li#ecommercewebsites {
    border: 1px solid;
    border-bottom: hidden;
    border-color: lightgray;
}

#ecommercewebsites > ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Segoe WP';
    font-weight: inherit;
    overflow: hidden;
}

#dailyblogwebsites > ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
    overflow: hidden;
}

#dailyblogwebsites ul li:first-child {
    text-decoration: none;
    background-image: url('../images/dailyblogwebsites.png');
    background-repeat: no-repeat;
    width: 138px;
    padding-top: 171px;
    cursor: pointer;
}

#searchbasedwebsites ul li:first-child {
    text-decoration: none;
    background-image: url('../images/searchbasedwebsites.png');
    background-repeat: no-repeat;
    width: 138px;
    padding-top: 171px;
    cursor: pointer;
}

#searchbasedwebsites > ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
    overflow: hidden;
}

li#ipad {
    padding: 40px 145px 0px 180px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: lightgray;
    margin-left: 143px;
}

#introducing li#ipad span {
    background-image: url('../images/ipad.png');
    background-repeat: no-repeat;
    width: 670px;
    padding-top: 320px;
}

li#ipadText {
    padding: 40px 0px 60px 70px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgray;
    margin-left: 143px;
    width: 925px;
}

    li#ipadText h2 {
        color: grey;
        font-size: 36px;
        width: 650px;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
        padding-bottom: 20px;
    }

    li#ipadText p {
        color: darkgray;
        font-size: 14px;
        width: 945px;
        font-family: 'UniversCE-Light';
        font-weight: inherit;
        line-height: 25px;
    }

/*#introducing li#screenshot {
    padding: 25px 0px 70px 0px;
    margin-left: 50px;*/
/*padding-top: 25px;
    padding-bottom: 70px;*/
/*}*/

#screenshot {
    padding: 25px 0px 70px 0px;
    margin-left: 140px;
    /*padding-top: 25px;
    padding-bottom: 70px;*/
}

    #screenshot ul {
        overflow: hidden;
    }

    #screenshot img {
        background-repeat: no-repeat;
        /*width: 450px;
        padding-top: 320px;*/
    }


    #screenshot h3 {
        color: gray;
        font-size: 30px;
        padding: 25px 0px 25px 40px;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
    }

    #screenshot li.whychooseus {
        margin-left: 40px;
        background-image: url('../images/shapearrow.png');
        background-repeat: no-repeat;
        color: darkgray;
        padding: 0px 0px 15px 30px;
        /*padding-bottom: 15px;
    padding-left: 30px;*/
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
    }

#memberlogin {
    overflow: hidden;
    background-color: #e67624;
    border-radius: 10px;
    width: 460px;
    padding: 15px 0px 25px 10px;
    margin: 25px 0px 35px 140px;
}

    #memberlogin h2 {
        color: white;
        font-family: sans-serif;
        font-weight: inherit;
        font-size: 30px;
        padding: 0px 0px 15px 15px;
    }

    #memberlogin input {
        color: gray;
        background-color: lightgray;
        border-style: hidden;
        width: 150px;
        padding: 6px;
    }

    #memberlogin a {
        text-decoration: none;
        color: lightgray;
        padding: 6px 6px 8px 6px;
        background-color: #444444;
        font-family: sans-serif;
        /*padding-bottom: 8px;*/
    }

#newsletter {
    overflow: hidden;
    background-color: #01d4f3;
    border-radius: 10px;
    width: 480px;
    padding: 22px 0px 30px 0px;
    margin: 25px 0px 35px 50px;
}

    #newsletter h2 {
        color: white;
        font-family: sans-serif;
        font-weight: inherit;
        font-size: 26px;
        padding: 0px 0px 0px 15px;
    }

    #newsletter input {
        color: gray;
        background-color: lightgray;
        border-style: hidden;
        width: 240px;
        padding: 6px;
        margin: 6px 60px 0px 18px;
    }

    #newsletter a {
        text-decoration: none;
        color: lightgray;
        padding: 6px 15px 6px 15px;
        background-color: #029bb1;
        font-family: sans-serif;
        /*padding-left: 15px;
        padding-right: 15px;*/
        /*margin-left: 60px;*/
    }

#footer {
    background-image: url('../images/footer.png');
    /*width: 1195px;*/
    padding: 20px 0px 40px 85px;
}

    #footer > ul {
        overflow: hidden;
        color: #aaacac;
        font-family: 'Segoe WP SemiLight';
        margin: 0px 0px 0px 90px;
    }

        #footer > ul li:first-child {
            padding-top: 20px;
        }

    #footer ul > li > h2 {
        color: #ececec;
        /*font-family: 'Segoe WP SemiLight';
        font-weight: inherit;*/
    }

#footerul {
    /*list-style-type: none;*/
    /*margin-left: 80px;*/
    line-height: 28px;
    /*font-family: 'Segoe WP SemiLight';
    font-weight: inherit;*/
}

#footersaboutus {
    padding-top: 20px;
    position: absolute;
    margin-left: 200px;
    /*overflow: hidden;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;*/
}

    #footersaboutus ul {
        /*list-style-type: none;*/
        line-height: 28px;
        /*font-family: 'Segoe WP SemiLight';
        font-weight: inherit;*/
    }

    #footersaboutus h2 {
        color: #ececec;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
    }

#footertestimonials {
    padding-top: 20px;
    position: absolute;
    margin-left: 395px;
}

    #footertestimonials ul {
        /*list-style-type: none;*/
        line-height: 28px;
        /*font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
        overflow: hidden;*/
    }

    #footertestimonials a#leftarrow {
        background-image: url('../images/footerleftarrow.png');
        padding: 10px;
        background-repeat: no-repeat;
        margin: -20px 0px 0px 120px;
        display: table;
    }

    #footertestimonials a#rightarrow {
        background-image: url('../images/footerrightarrow.png');
        padding: 10px;
        background-repeat: no-repeat;
        margin: -20px 0px 0px 140px;
        display: table;
    }

#footerleo {
    /*position: absolute;*/
    /*margin-left: 850px;*/
    font-size: 80px;
    font-style: italic;
    color: #6c6c6d;
    /*padding: 70px 0px 0px 100px;*/
    font-family: 'MrsEavesItalic';
    margin: -190px 75px 99px 0px;
    float: right;
}

#footer span {
    float: right;
    margin: -99px 140px 81px 10px;
    color: lightgrey;
}
