body {
    background-color: gray;
}

@font-face {
    font-family: 'MrsEavesItalic';
    src: url('\fonts\MrsEavesItalic.eot');
    src: local(':relaxed:'), url('fonts/MrsEavesItalic.woff') format('woff'), url('fonts/MrsEavesItalic.ttf') format('truetype'), url('fonts/MrsEavesItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-SemiBold';
    src: url('\fonts\SegoeUI-SemiBold.eot');
    src: local(':relaxed:'), url('fonts/SegoeUI-SemiBold.woff') format('woff'), url('fonts/SegoeUI-SemiBold.ttf') format('truetype'), url('fonts/SegoeUI-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversCE-Light';
    src: url('\fonts\UniversCE-Light.eot');
    src: local(':relaxed:'), url('fonts/UniversCE-Light.woff') format('woff'), url('fonts/UniversCE-Light.ttf') format('truetype'), url('fonts/UniversCE-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.left {
    float: left;
}

.padding {
    padding-bottom: 10px;
}

.marginleft {
    margin-left: 18px;
}

.paddingleft {
    padding-left: 100px;
}

#mainDiv {
    margin: 0px auto;
    width: 1279px;
    background-color: white;
}

#headerDiv {
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    width: 1280px;
    margin: 0 auto;
}

#primarynavigation {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

#headerleo {
    width: 328px;
    font-size: 80px;
    font-style: italic;
    font-family: 'MrsEavesItalic';
    color: lightgray;
    padding-top: 45px;
    padding-left: 120px;
}

#headermenu {
    font-size: 22px;
    position: relative;
    padding-left: 30px;
}

    #headermenu > ul {
        text-decoration: none;
        list-style-type: none;
        font-family: 'Segoe UI';
        font-weight: inherit;
        color: lightgray;
        overflow: hidden;
    }

        #headermenu > ul li {
            float: left;
            padding-right: 35px;
            padding-top: 25px;
        }

#introducing {
    overflow: hidden;
    padding-top: 50px;
}

    #introducing > ul {
        list-style-type: none;
        border-bottom: 1px solid;
        border-color: lightgray;
        padding-bottom: 50px;
        overflow: hidden;
    }

    #introducing #introducingleftarrow {
        padding-top: 100px;
        padding-right: 170px;
        padding-left: 10px;
    }

#introducingleftarrow > a {
    background-image: url('../images/banner-arrow-left.png');
    background-repeat: no-repeat;
    padding: 30px;
}

#coffee > a {
    width: 350px;
    font-size: 70px;
    padding-top: 330px;
    background-image: url('../images/banner-icon.png');
    background-repeat: no-repeat;
    margin-right: 70px;
}

#introducingtitles h1 {
    color: white;
    font-size: 60px;
    line-height: 0px;
    padding-top: 35px;
    font-family: 'Segoe WP';
    font-weight: inherit;
}

#introducingtitles h3 {
    font-size: 36px;
    color: lightgray;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
}

#introducingtitles a {
    text-decoration: none;
    color: lightgray;
    border: 5px solid #353d39;
    padding: 10px;
    background-color: #175b3b;
    font-size: 25px;
    margin: 5px;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
}

#introducingrightarrow {
    padding-top: 100px;
    padding-left: 180px;
}

    #introducingrightarrow > a {
        background-image: url('../images/banner-arrow-right.png');
        background-repeat: no-repeat;
        padding: 30px;
    }

#mainwebsites {
    overflow: hidden;
    padding-left: 50px;
}

#websites {
    list-style-type: none;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
}

    #websites > li {
        border-bottom: 1px solid;
        border-color: lightgray;
        color: lightgray;
    }


        #websites > li ul li {
            color: darkgrey;
        }

        #websites > li#ecommercewebsites ul li {
            color: gray;
            font-weight: 600;
            font-size: 16px;
        }

#responsivewebsites {
    padding-right: 60px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 40px;
}

    #responsivewebsites > ul {
        list-style-type: none;
        text-align: center;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
        overflow: hidden;
    }

        #responsivewebsites > ul li:first-child {
            text-decoration: none;
            background-image: url('../images/responsivewebsites.png');
            background-repeat: no-repeat;
            width: 138px;
            padding-top: 171px;
        }

#ecommercewebsites {
    padding-right: 60px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 40px;
}

    #ecommercewebsites ul li:first-child {
        text-decoration: none;
        background-image: url('../images/ecommercewebsites.png');
        background-repeat: no-repeat;
        width: 138px;
        padding-top: 171px;
    }

#websites > li#ecommercewebsites {
    border: 1px solid;
    border-bottom: hidden;
    border-color: lightgray;
}

#ecommercewebsites > ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Segoe WP';
    font-weight: inherit;
    overflow: hidden;
}

#dailyblogwebsites {
    padding-right: 60px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 40px;
}

    #dailyblogwebsites > ul {
        list-style-type: none;
        text-align: center;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
        overflow: hidden;
    }

    #dailyblogwebsites ul li:first-child {
        text-decoration: none;
        background-image: url('../images/dailyblogwebsites.png');
        background-repeat: no-repeat;
        width: 138px;
        padding-top: 171px;
    }

#searchbasedwebsites {
    padding-right: 60px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 40px;
}

    #searchbasedwebsites ul li:first-child {
        text-decoration: none;
        background-image: url('../images/searchbasedwebsites.png');
        background-repeat: no-repeat;
        width: 138px;
        padding-top: 171px;
    }

    #searchbasedwebsites > ul {
        list-style-type: none;
        text-align: center;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
        overflow: hidden;
    }

#introducing li#ipad {
    padding-top: 40px;
    padding-left: 190px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: lightgray;
    margin-left: 90px;
    padding-right: 153px;
}

    #introducing li#ipad span {
        background-image: url('../images/ipad.png');
        background-repeat: no-repeat;
        width: 670px;
        padding-top: 320px;
    }

#introducing li#ipadText {
    padding-top: 40px;
    padding-left: 70px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgray;
    margin-left: 90px;
    width: 942px;
    padding-bottom: 60px;
}

    #introducing li#ipadText h2 {
        color: grey;
        font-weight: bolder;
        font-size: 36px;
        width: 650px;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
    }

    #introducing li#ipadText p {
        color: darkgray;
        font-size: 15px;
        width: 945px;
        font-family: 'UniversCE-Light';
        font-weight: inherit;
    }

#introducing li#screenshot {
    padding-top: 25px;
    margin-left: 50px;
    padding-bottom: 70px;
}

#screenshot span:first-child {
    background-image: url('../images/screenshot.png');
    background-repeat: no-repeat;
    width: 450px;
    padding-top: 320px;
}


#screenshot h3 {
    color: gray;
    font-size: 30px;
    padding-left: 35px;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
}

#screenshot span {
    margin-left: 40px;
    padding-bottom: 15px;
    background-image: url('../images/shapearrow.png');
    background-repeat: no-repeat;
    color: darkgray;
    padding-left: 30px;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
}

#memberlogin {
    overflow: hidden;
    margin-left: 88px;
    background-color: #e67624;
    border-radius: 10px;
    width: 480px;
    list-style-type: none;
    padding-bottom: 20px;
}

    #memberlogin p {
        color: white;
        font-family: sans-serif;
        font-weight: inherit;
        font-size: 30px;
        line-height: 0px;
        padding-left: 20px;
    }

    #memberlogin input {
        color: gray;
        background-color: lightgray;
        border-style: hidden;
        width: 150px;
        padding: 6px;
    }

    #memberlogin a {
        text-decoration: none;
        color: lightgray;
        padding: 6px;
        background-color: #444444;
        font-family: sans-serif;
        padding-bottom: 8px;
    }

#newsletter {
    overflow: hidden;
    margin-left: 50px;
    background-color: #01d4f3;
    border-radius: 10px;
    width: 480px;
    list-style-type: none;
    padding-bottom: 20px;
}

    #newsletter p {
        color: white;
        font-family: sans-serif;
        font-weight: inherit;
        font-size: 26px;
        line-height: 0px;
        padding-left: 15px;
    }

    #newsletter input {
        color: gray;
        background-color: lightgray;
        border-style: hidden;
        width: 240px;
        padding: 6px;
        MARGIN-LEFT: 18px;
        margin-top: 6px;
    }

    #newsletter a {
        text-decoration: none;
        color: lightgray;
        padding: 6px;
        background-color: #029bb1;
        font-family: sans-serif;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 60px;
    }

#footer {
    background-image: url('../images/footer.png');
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;
}

    #footer ul {
        overflow: hidden;
        list-style-type: none;
        color: #aaacac;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
    }

#footerul {
    list-style-type: none;
    margin-left: 80px;
    line-height: 34px;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
}

    #footerul > li > h2 {
        color: #ececec;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
    }

#footersaboutus {
    position: absolute;
    margin-left: 265px;
    overflow: hidden;
    font-family: 'Segoe WP SemiLight';
    font-weight: inherit;
}

    #footersaboutus ul {
        list-style-type: none;
        line-height: 34px;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
    }

        #footersaboutus ul li > h2 {
            color: #ececec;
            font-family: 'Segoe WP SemiLight';
            font-weight: inherit;
        }

#footertestimonials {
    padding-top: 20px;
    position: absolute;
    margin-left: 450px;
}

    #footertestimonials ul {
        list-style-type: none;
        line-height: 34px;
        font-family: 'Segoe WP SemiLight';
        font-weight: inherit;
        overflow: hidden;
    }

        #footertestimonials ul li:first-child {
            display: inline-table;
            padding-bottom: 16px;
        }

            #footertestimonials ul li:first-child h2 {
                display: inline;
                color: #ececec;
                font-family: 'Segoe WP SemiLight';
                font-weight: inherit;
            }

            #footertestimonials ul li:first-child #leftarrow {
                background-image: url('../images/footerleftarrow.png');
                background-repeat: no-repeat;
                padding-left: 12px;
                padding-right: 12px;
                margin-left: 70px;
            }

            #footertestimonials ul li:first-child #rightarrow {
                background-image: url('../images/footerrightarrow.png');
                background-repeat: no-repeat;
                padding-left: 12px;
                padding-right: 12px;
            }

#footerleo {
    position: absolute;
    margin-left: 850px;
}

    #footerleo ul {
        list-style-type: none;
        overflow: hidden;
    }

        #footerleo ul li:first-child {
            font-size: 80px;
            font-style: italic;
            color: #6c6c6d;
            padding-top: 70px;
            padding-left: 100px;
            font-family: 'MrsEavesItalic';
        }
